{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          {{.Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Events List --><br>
<div class="events-list">
  {{ range .Pages.ByDate.Reverse }}
        
        
        <div class="event-item event-{{  cond  ( ge 0 (sub  now.YearDay  .Params.date.YearDay ) ) "future" "old" }}">
            <h3>{{ .Title }}</h3>
          <p><strong>Date:</strong> {{ .Params.event_dates }}</p>
          <p><strong>Time:</strong> {{ .Params.time }}</p>
          <p><strong>Location:</strong> {{ .Params.location }}</p>
          <div>
            <p align="left">{{ .Params.description }}</p>
            <a href="  " class="event-button">Learn More</a>
          </div>
        </div>
        
    {{ end }}
</div>

{{ end }}




