{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">

          
          <div class="sign-up-button">
                {{ partial "stripe-checkout-button.html" .Params.event_pay }}
          </div>
          {{ .Content }}
          <div class="sign-up-button">
                {{ partial "stripe-checkout-button.html" .Params.event_pay }}
          </div>
          <!-- {{.Params.page_header_image}} -->
          <!-- {{ partial "image.html" (dict "Src" .Params.page_header_image "Alt" "Rev Drivebase") }} -->
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}