{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">

          
          
          <div class="sign-up-button">
            {{ if .Params.stripe_url }}
              <div>
                <a href = "{{ .Params.stripe_url }}" class="Sign-Up-Button">
                  Sign Up!
                </a>
                </br>
              </div>
            {{ else }}
              ERROR: stripe_url not defined
            {{ end }}
          </div>
          {{ .Content }}
          <div class="sign-up-button">
            {{ if .Params.stripe_url }}
              <div>
                <a href = "{{ .Params.stripe_url }}" class="Sign-Up-Button">
                  Sign Up!
                </a>
                </br>
              </div>
            {{ else }}
              ERROR: stripe_url not defined
            {{ end }}
          </div>
          <!-- {{.Params.page_header_image}} -->
          <!-- {{ partial "image.html" (dict "Src" .Params.page_header_image "Alt" "Rev Drivebase") }} -->
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}