@import 'templates/bootstrap';

// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary}};
$color-secondary: {{.color_secondary}};
$bg-secondary: {{.bg_secondary}};

$text-dark: {{.text_dark}};
$text-light: {{.text_light}};
$text-color: {{.text_color}};
$border-color: {{.border_color}};
$border-light: {{.border_light}};

$bg-gradient-primary: {{.bg_gradient_primary}};
$bg-gradient-secondary: {{.bg_gradient_secondary}};
$btn-gradient-primary: {{.btn_gradient_primary}}; 

$black: {{.black}};
$white: {{.white}};
$gray: {{.gray}};

$dark-green: #159957 ;
$light-green: #b7ffb0 ;
$dark-pink: #fd00d3 ;
$light-pink: #ffdcfa ;

// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{ replaceRE ":[ital,]*wght@[0-9,;]+" "" .font_primary }}', {{.font_primary_type}};
$font-secondary: '{{ replaceRE ":[ital,]*wght@[0-9,;]+" "" .font_secondary }}', {{.font_secondary_type}};
$font-icon: '{{.font_icon}}';
{{ end }}

.text-dark-green {
    --bs-text-opacity: 1;
    color: rgba(var($dark-green), var(--bs-text-opacity)) !important;
}

.text-light-green {
    --bs-text-opacity: 1;
    color: rgba(var($light-green), var(--bs-text-opacity)) !important;
}


@import 'mixins';
@import 'typography';
@import 'buttons';
@import 'common';
@import 'templates/navigation';
@import 'templates/banner';
@import 'templates/homepage';
@import 'templates/card';
@import 'templates/team';
@import 'templates/blog';
@import 'templates/footer';
@import 'templates/donations';
@import 'templates/events';
@import 'preloader';


{{ if site.Params.image_gallery }}
@import 'gallery';
{{ end }}