{{ define "main" }}

<!-- {{"team" | safeHTML}} -->
<section class="section section-lg-bottom">
  <div class="container">
    <div class="row team-holder">
      {{ range $index, $element:= .Params.team_member }}
      <!-- {{"team member" | safeHTML}} -->
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="team-member text-center"> 
          {{ partial "image.html" (dict "Src" .image "Alt" .name  "Class" "w-100 rounded-sm" "Size" "450x") }}
          <div class="team-member-content p-4">
            <h5 class="team-member-name text-white">{{.name}}</h5>
            <p class="team-member-designation text-light">{{ .designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /team -->" | safeHTML}}

{{ end }}