
.donation-holder {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
    align-items:center;
    justify-content:center;
}
.donation-card {
  // @apply flex flex-col rounded-sm p-9 h-full; /* Flexbox layout */
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:space-between;
  width:390px;
  height:400px;
  margin:5px;
  padding:10px;
  .donation-item-header {
    
    h3 {
      color:#fd00d3;
    }
    p {
      
    }
  }
  .donation-item-body {
    align-items:center;
    justify-content:center;
    h2 {
      text-align:center;
      span {
        
      }
    }
    ul {
      li {
        
        svg {
          
        }
      }
    }
  }
   .donation-item-footer {
    margin-top: auto; /* Push the footer to the bottom */
    padding-bottom: 20px; /* Space between footer content and card edge */
  }
}
